.link{
    color:#ffc107;
}
.input{
    width: 500px;
}
.password{
    padding-left: 250px;
}
.Remember{
    color: #ffc107;
   
}
.checkbox{
    color: #ffc107;
    background-color: #ffc107;
}
.formulaire{
    margin-top: 180px;
}
.text{
    margin-left: 150px;
}
.icons{
    
    margin-left: 450px;
}
